html, body, section, article,
h1, h2, h3, h4, p, strong, em, div, ul {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  // font: inherit;
  // font-size: 13px;
  list-style: none;
  font-family: sans-serif;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

h4 {
  display: inline-block;
  float: left;
}

#agent {
  float: left;
  display: block;
}

.list {
  position: relative;
  top: 50px;
  display: table;
}

.row {
  position: relative;
  left: -200px;
  height: 30px;
}

.ingredient-name {
  display: inline-block;
  float: left;
  width: 50px;
}

.delimiter {
  float: left;
  position: relative;
  display: inline-block;
  /*left: 10px;*/
}
